{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is ABOUT page<br/><br/>
    var <b>text</b> = {{ text }}
{% endblock %}

{% block m1 %}
    <b><a href="/about">ABOUT</a></b>
{% endblock %}

{% block title %}ABOUT{% endblock %}