{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is client edit page<br/><br/>


    <table style="text-align:center; border-collapse:collapse; border:2px solid black;">
        <tr style="text-align: center;">

            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> id </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> name </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> address </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> phone </th>

        </tr>


           <tr>
              <td style="border-bottom:2px solid white; border-left:2px solid white;">
                  <form method="post">
                    <input type="text" name = "a" id ="b"
                           value="{{ client.id }}" ></form> </td>
              <td style="border-bottom:2px solid white; border-left:2px solid white;">
                  <form method="post">
                      <input type="text" name = "a" id ="b"
                             value="{{ client.name }}" ></form> </td>
              <td style="border-bottom:2px solid white; border-left:2px solid white;">
                  <form method="post">
                      <input type="text" name = "a" id ="b"
                             value="{{ client.address }}" ></form> </td>
              <td style="border-bottom:2px solid white; border-left:2px solid white; border-right:2px solid white;">
                  <form method="post">
                      <input type="text" name = "a" id ="b"
                             value="{{ client.phone }}" > <input type="submit" value="Сохранить"> </form> </td>
           </tr>


    </table>


{% endblock %}

{% block m7 %}
    <b>client</b>
{% endblock %}

{% block title %}client{% endblock %}