{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is client edit page<br/><br/>


    <form action="{{ path('_client_edit', {id: client.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>



{% endblock %}

{% block m7 %}
    <b><a href="/client/list">CLIENTS</a></b>
{% endblock %}

{% block title %}client{% endblock %}