{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is CONTACTS page<br/><br/>

    {% for fam, tel in cont %}
        <div style="margin-bottom: 10px;">
            <b>{{ fam }}</b>: {{ tel }}<br/>
        </div>
    {% endfor %}

{% endblock %}

{% block m2 %}
    <b>CONTACTS</b>
{% endblock %}

{% block title %}CONTACTS{% endblock %}