{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is FAQ page<br/><br/>

    {% for num, faq in faqs %}
        {% for question, answer in faq if num>0  %}
            <div style="color: red";><a href="/faq/{{ num }}">{{ question }}</a></div>
            <div style="margin: 0 0 10px 20px;">{{ answer }}</div>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block m4 %}
    <b>FAQ</b>
{% endblock %}

{% block title %}FAQ{% endblock %}