{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is HELP page<br/><br/>
{% endblock %}

{% block m3 %}
    <b><a href="/help">HELP</a></b>
{% endblock %}

{% block title %}HELP{% endblock %}