{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is main page<br/><br/>
    variable text: <span style="background-color: #0088CC;">{{ text }}</span>

{% endblock %}

{% block title %} MAIN PAGE {% endblock %}
