{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is site edit page<br/><br/>


    <form action="{{ path('_site_edit', {id: site.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>



{% endblock %}

{% block m8 %}
    <b><a href="/site/list">OUR SITES</a></b>
{% endblock %}

{% block title %}site{% endblock %}