{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is Product page<br/><br/>


    <table style="text-align:center; border-collapse:collapse; border:2px solid black;">
        <tr style="text-align: center;">

            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> id </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> картинка </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> название </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> цена </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;">  </th>


        </tr>
                 {% for product in products %}
                     {% endfor %}
                <tr>
                    <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ product.img }} </td>
                    <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> <img width="50px" height="50px" src="  "> </td>
                    <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;">  </td>
                    <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;">  </td>
                    <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;">  </td>
                </tr>


    </table>


{% endblock %}

{% block m6 %}
    <b>Product</b>
{% endblock %}

{% block title %}Product{% endblock %}