{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is Products page<br/><br/>

    {% for product in products %}


        <tr>
            <td> img src=" {{ product.img }} " </td>
            <td> {{ product.title }} </td>
            <td> {{ product.price }} </td>
        </tr>tr>

    {% endfor %}

{% endblock %}

{% block m5 %}
    <b>Products</b>
{% endblock %}

{% block title %}Products{% endblock %}