{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is Product page<br/><br/>

    {% if tovar==0 %}
        <div style="color: red;"><h1>Product not found!</h1></div>
    {% endif %}
{% endblock %}

{% block title %}Product{% endblock %}