{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is Products page<br/><br/>

    {% for price in products %}



        <div> {{ products[price] }}:    </div>

    {% endfor %}

{% endblock %}

{% block m5 %}
    <b>Products</b>
{% endblock %}

{% block title %}Products{% endblock %}