{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is Products page<br/><br/>



    {% for id, product in products %}
        {% echo '<table>'  %}
            <tr>
                <td> {{ id }} </td>
                <td> <img width="50px" height="50px" src=" {{ product.img }} "> </td>
                <td> {{ product.title }} </td>
                <td> {{ product.price }} </td>
            </tr>
        {% endblock '</table>' %}
    {% endfor %}

{% endblock %}

{% block m5 %}
    <b>Products</b>
{% endblock %}

{% block title %}Products{% endblock %}