<!DOCTYPE html>
<html>
    <head>
    {% block title %}Main page{% endblock %}
    </head>
    <body>
    <H1><a href="/">My site</a></H1>

        <div style="margin: 20px 0;">
            {% block m1 %}<a href="/about">About</a>{% endblock %} |
            {% block m2 %}<a href="/contacts">Contacts</a>{% endblock %} |
            {% block m3 %}<a href="/help">Help</a>{% endblock %} |
            {% block m4 %}<a href="/faq">FAQ</a>{% endblock %} |
            {% block m5 %}<a href="/products">Products</a>{% endblock %} |
            {% block m6 %}<a href="/ourteams">Our Team</a>{% endblock %}

        </div>

        <div style="margin: 50px 0;">
            {% block content %}

            Content of site will be here....

            {% endblock %}
        </div>

        <div style="margin: 50px 0;">
            {% block footer %}
            (c) Burut, 2015
            {% endblock %}
        </div>
    </body>
    <style type="text/css">
        .td1 {
            padding-left:25px;
            padding-right:25px;
            border-bottom:2px solid #000000;
            border-left:2px solid #000000;}
        .td2 {border-bottom:2px solid #000000; border-left:2px solid #000000; max-width: 260px;}
    </style>
</html>