<!DOCTYPE html>
<html>
    <head>
        {% block title %}Main page{% endblock %}
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
    <H1><a href="/">My site</a></H1>

        <div style="margin: 20px 0;">
            {% block m1 %}<a href="/about">About!!!</a>{% endblock %} |
            {% block m2 %}<a href="/contacts">Contacts</a>{% endblock %} |
            {% block m3 %}<a href="/help">Help</a>{% endblock %} |
            {% block m4 %}<a href="/faq">FAQ</a>{% endblock %} |
            {% block m5 %}<a href="/products/list">Products</a>{% endblock %} |
            {% block m6 %}<a href="/ourteams">Our Team</a>{% endblock %} |
            {% block m7 %}<a href="/client/list">clients</a>{% endblock %} |
            {% block m8 %}<a href="/site/list">Our Sites</a>{% endblock %} |
            {% block m9 %}<a href="/furn/list">Фурнитура</a>{% endblock %} |
            {% block m10 %}<a href="/twitter">Мини твитер</a>{% endblock %}
        </div>

        <div style="margin: 50px 0;">
            {% block content %}

            Content of site will be here....

            {% endblock %}
        </div>

        <div style="margin: 50px 0;">
            {% block footer %}
            (c) Burut, 2015
            {% endblock %}
        </div>
    </body>
    <style type="text/css">
        .td1 {
            padding-left:25px;
            padding-right:25px;
            border-bottom:2px solid #000000;
            border-left:2px solid #000000;}
        .td2 {border-bottom:2px solid #000000;
            border-left:2px solid #000000;
            max-width: 260px;}

        .prod2{border-bottom:2px solid #000000;
            border-left:2px solid #000000;}

        #refresh {
            font-weight: bold;
            margin: 10px 0;
            background-color: #aaa;
            width: 80px;
            border-radius: 5px;
            text-align: center;
            padding: 5px 0;
            cursor: pointer;
        }

        #tweets{
            border: solid dimgray 2px;
            background-color: #aaa;
            position: absolute;
            left: 260px;
            top: 180px;
        }

        #formfixed{
            position: fixed;
            left:10px; top:300px;
        }

        .tweet{
            border: solid dimgray 3px;
            border-radius: 10px;
            background-color: #f9ecec;
            padding: 10px;
            margin: 3px;
        }

        .createdAt{
            width: 180px;
            display: inline-block;
            font-size: 12px;
        }

        .name{
            max-width: 100px;
            display: inline;
        }

        .i1{
            display:inline-block;
            vertical-align:top;
        }

        .image{
            width: 80px;
            height: 80px;
            border-radius: 7px;
            border: solid #000000 2px;
        }

        .message {
            max-width: 400px;
            padding-left: 100px;
        }
        .form_message{
            height: 30px;

        }


    </style>
</html>