<!DOCTYPE html>
<html>
    <head>
    {% block title %}Main page{% endblock %}
    </head>
    <body>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <H1><a href="/">My site</a></H1>

        <div style="margin: 20px 0;">
            {% block m1 %}<a href="/about">About</a>{% endblock %} |
            {% block m2 %}<a href="/contacts">Contacts</a>{% endblock %} |
            {% block m3 %}<a href="/help">Help</a>{% endblock %} |
            {% block m4 %}<a href="/faq">FAQ</a>{% endblock %} |
            {% block m5 %}<a href="/products">Products</a>{% endblock %}

        </div>

        <div style="margin: 50px 0;">
            {% block content %}

            Content of site will be here...

            {% endblock %}
        </div>

        <div style="margin: 50px 0;">
            {% block footer %}
            (c) Burut, 2015
            {% endblock %}
        </div>
    </body>

</html>