

        {% for twit in twits %}
           <div class="tweet">
              <div class="createdAt">{{ twit.createdAt | date("Y-m-d H:i:s") }}</div>
              <div class="name">{{ twit.name | upper }}, писал/а:</div><br/><br/>
              <div class="i1 image"><img width="80px" height="80px" src=" {{ twit.image }} "></div>
               <div class="i1 message">{{ twit.message }}</div>
           </div>
        {% endfor %}

